.main{
    min-height: 100vh;
    background-color: var(--cream);
}


.petList{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.singlePet-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(255, 254, 245);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    
}
.singlePet-card:hover{
    box-shadow: 0 25px 50px -5px rgba(0, 0, 0, 0.25);
    
}
.singlePet-card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.singlePet-card .img-div{
    width: fit-content;

}
.singlePet-card .details{
    text-align: left;
    width: 150px;
}
.singlePet-card .status{
    background-color: var(--green);
    font-weight: 500;
    width: fit-content;
    padding: 5px;
    margin: 10px 0;
    color: darkgreen;
    border-radius: 5px;
}